.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
  }
  
  .drawer {
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
  }
  
  .drawer h2 {
    margin-bottom: 20px;
  }
  
  .drawer ul {
    list-style-type: none;
    margin-bottom: 20px;
  }
  
  .drawer li {
    margin: 10px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
  
  /* button {
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0051bb;
  }
   */